$body-font: Arial, sans-serif;

body {
  font-family: $body-font;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: white;
  margin-top: .5rem;
}

.brand-list {
  list-style-type: none;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 10px;
  }
}

.brand-logo {
  width: 150px;
  height: 7rem;
}
